.header {
  text-align: center;
  font-size: 40px;
}

.login-form {
  color: rgb(50, 179, 230) ;
}

.input-name {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid gray;
}

.input-name:focus {
  outline: none;
}
.input-name:hover {
  border: 2px solid rgb(50, 179, 230);
  transition: 0.3s;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
  padding: 20px;
  background-color: rgb(243, 242, 242);
  width: 300px;
  margin: auto;
  border-radius: 20px;
  height: 300px;
}

.btn {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  width: 120px;
  background-color: skyblue;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px 0px;
}
.btn:hover {
  background-color: rgb(50, 179, 230);
  transition: 0.3s;

}

.gender-input-box {
  display: flex;
  padding: 10px;

}

.savedinfo {
  text-align: center;
  color: grey;
}