.header {
  text-align: center;
  font-size: 40px;
}

.input-name {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid gray;
}

.input-name:focus {
  outline: none;
}
.input-name:hover {
  border: 2px solid blue;
  transition: 0.3s;
}

.form {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
  padding: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  width: 120px;
  background-color: skyblue;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(50, 179, 230);
  transition: 0.3s;

}